@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body {
    @apply font-jamjuree md:font-pacifico antialiased;
    overflow-x: hidden;

}

.sidebar {
    background: linear-gradient(rgba(158, 207, 158, .5), rgba(153, 193, 153, .8)), url('./assets/treeWhite.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all .4s ease;
}

.close {
    left: 0;
}

.sidebar .nav-link {
    @apply text-[1.3rem] font-bold transition-all duration-300 ease-in-out text-white md:text-[1rem]
}

.sidebar .nav-link:hover {
    color: rgb(24, 180, 24);
}

#hamburger {
    @apply flex cursor-pointer flex-col space-y-[6px] md:hidden
}

.box {
    @apply h-[3px] w-[24px] bg-white rounded-full
}

#hamburger .box1,
#hamburger .box2,
#hamburger .box3 {
    transition: all .5s ease;
}

#hamburger.openHam .box1 {
    transform: translate(-8px, 10px) rotate(45deg);
}

#hamburger.openHam .box2 {
    opacity: 0;
}

#hamburger.openHam .box3 {
    transform: translate(-8px, -8px) rotate(-45deg);
}



.btn {
    @apply py-4 border-2 border-black px-7 rounded-full text-[18px] font-bold bg-green-700/20 hover:bg-green-700/50 hover:text-white duration-300 ease-in-out
}

.outer {
    @apply bg-transparent
}



.card-container {
    @apply perspective-1000 h-64;
}

.card {
    @apply relative w-full h-full transition-transform duration-700 transform-style-preserve-3d;
}

.card:hover {
    @apply rotate-y-180;
}

.card-side {
    @apply absolute w-full h-full backface-hidden;
}

.card-front {
    @apply bg-green-500 text-white rounded-lg shadow-lg flex flex-col items-center justify-center space-y-4;
}

.card-back {
    @apply bg-black text-lime-400 rotate-y-180 rounded-lg shadow-lg flex flex-col items-center justify-center space-y-4;
}


.card img {
    @apply w-24
}

#portfolio .education-1-item .circle,
#portfolio .experience-1-item .circle {
    @apply h-12 w-12 bg-[#052e16] rounded-full flex justify-center items-center z-20 relative
}

#portfolio .education-1-item .circle::before,
#portfolio .experience-1-item .circle::before {
    @apply content-[''] bg-white w-5 h-5 rounded-full z-10
}

#portfolio .education-1-item .context h1,
#portfolio .experience-1-item .context h1 {
    @apply mt-[-40px] text-2xl lg:text-3xl tracking-tight
}

#portfolio .education-1-item .context p,
#portfolio .experience-1-item .context p {
    @apply text-[16px] lg:text-[22px] text-gray-600 mt-[6px]
}

#portfolio .education-1-item .context h3,
#portfolio .experience-1-item .context h3 {
    @apply text-[19px] lg:text-[26px] mt-3
}

#service_1 {
    cursor: pointer;
    transition: all ease .5s;
}

#service_1:hover {
    transform: translateY(-12px);
}


.slick-dots {
    display: block !important;
    margin-top: 30px;
    text-align: center;
}

.slick-dots li button:before {
    color: #22c55e;
}

.slick-dots li.slick-active button:before {
    color: #065f46;
}